In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('https://raw.githubusercontent.com/NeilPandey/Test_Dataset/master/SUV_predict.csv')

In [6]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [59]:
df['Gender']=df['Gender'].astype('category')

In [9]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
lgender=LabelEncoder()

In [60]:
df['Gender']=df['Gender'].cat.codes

In [80]:
df['Gender']=lgender.fit_transform(df['Gender'])

In [81]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased  gender_n
0    15624510       1   19            19000          0         1
1    15810944       1   35            20000          0         1
2    15668575       0   26            43000          0         0
3    15603246       0   27            57000          0         0
4    15804002       1   19            76000          0         1
..        ...     ...  ...              ...        ...       ...
395  15691863       0   46            41000          1         0
396  15706071       1   51            23000          1         1
397  15654296       0   50            20000          1         0
398  15755018       1   36            33000          0         1
399  15594041       0   49            36000          1         0

[400 rows x 6 columns]

In [82]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased  gender_n
0    15624510       1   19            19000          0         1
1    15810944       1   35            20000          0         1
2    15668575       0   26            43000          0         0
3    15603246       0   27            57000          0         0
4    15804002       1   19            76000          0         1
..        ...     ...  ...              ...        ...       ...
395  15691863       0   46            41000          1         0
396  15706071       1   51            23000          1         1
397  15654296       0   50            20000          1         0
398  15755018       1   36            33000          0         1
399  15594041       0   49            36000          1         0

[400 rows x 6 columns]

In [83]:
X_feat =['Age','EstimatedSalary','Gender']

In [84]:
X = df[X_feat]

In [85]:
y = df.Purchased

In [86]:
from sklearn.model_selection import train_test_split

In [87]:
(X_train,X_test,y_train,y_test)=train_test_split(X, y, test_size=0.10,
                                                random_state=0)

In [88]:
from sklearn.linear_model import LogisticRegression

In [89]:
logreg = LogisticRegression()

In [90]:
logreg.fit(X_train, y_train)

C:\Users\bharat\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [91]:

y_pred = logreg.predict(X_test)

In [92]:
y_pred.size

40

In [93]:
from sklearn import metrics

In [94]:
cnf_met = metrics.confusion_matrix(y_test,y_pred)

In [95]:
cnf_met

array([[32,  0],
       [ 5,  3]], dtype=int64)

In [96]:
print("Accuracy Score: ",metrics.accuracy_score(y_test,y_pred))

Accuracy Score:  0.875

In [97]:
print("Precision Score: ",metrics.precision_score(y_test,y_pred))

Precision Score:  1.0

In [98]:
print("Recall: ", metrics.recall_score(y_test, y_pred))

Recall:  0.375