In [6]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_csv('C:/Users/bharat/Downloads/Reviews.csv/Reviews.csv')

In [7]:
df.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [8]:
%%!
pip install --trusted-host pypi.org ipython-sql

['Requirement already satisfied: ipython-sql in c:\\users\\bharat\\anaconda3\\lib\\site-packages (0.3.9)',
 'Requirement already satisfied: sqlparse in c:\\users\\bharat\\anaconda3\\lib\\site-packages (from ipython-sql) (0.3.0)',
 'Requirement already satisfied: six in c:\\users\\bharat\\anaconda3\\lib\\site-packages (from ipython-sql) (1.12.0)',
 'Requirement already satisfied: sqlalchemy>=0.6.7 in c:\\users\\bharat\\anaconda3\\lib\\site-packages (from ipython-sql) (1.3.9)',
 'Requirement already satisfied: prettytable in c:\\users\\bharat\\anaconda3\\lib\\site-packages (from ipython-sql) (0.7.2)',
 'Requirement already satisfied: ipython-genutils>=0.1.0 in c:\\users\\bharat\\anaconda3\\lib\\site-packages (from ipython-sql) (0.2.0)',
 'Requirement already satisfied: ipython>=1.0 in c:\\users\\bharat\\anaconda3\\lib\\site-packages (from ipython-sql) (7.8.0)',
 'Requirement already satisfied: decorator in c:\\users\\bharat\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (4.4.0)',
 'Requirement already satisfied: setuptools>=18.5 in c:\\users\\bharat\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (41.4.0)',
 'Requirement already satisfied: colorama; sys_platform == "win32" in c:\\users\\bharat\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.4.1)',
 'Requirement already satisfied: pygments in c:\\users\\bharat\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (2.4.2)',
 'Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in c:\\users\\bharat\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (2.0.10)',
 'Requirement already satisfied: backcall in c:\\users\\bharat\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.1.0)',
 'Requirement already satisfied: jedi>=0.10 in c:\\users\\bharat\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.15.1)',
 'Requirement already satisfied: traitlets>=4.2 in c:\\users\\bharat\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (4.3.3)',
 'Requirement already satisfied: pickleshare in c:\\users\\bharat\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)',
 'Requirement already satisfied: wcwidth in c:\\users\\bharat\\anaconda3\\lib\\site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.7)',
 'Requirement already satisfied: parso>=0.5.0 in c:\\users\\bharat\\anaconda3\\lib\\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.5.1)']

In [9]:
%load_ext sql

In [10]:
%sql sqlite://

'Connected: @None'

In [11]:
%%sql
create table student(name varchar(20),age int(12),marks int (12));
insert into student values('bharat',22,99);
select * from student;

 * sqlite://
Done.
1 rows affected.
Done.

[('bharat', 22, 99)]

In [12]:
import sqlite3

In [ ]:
##reading data

In [13]:
con=sqlite3.connect(r"C:\Users\bharat\Downloads\Reviews.csv\database.sqlite")

In [14]:
cur = con.cursor()

In [16]:
filtered_data=pd.read_sql_query("""SELECT * FROM Reviews WHERE score != 3""",con)

In [17]:
filtered_data=pd.read_sql_query("""SELECT * FROM Reviews WHERE score>0""",con)

In [18]:
filtered_data=pd.read_sql_query("""SELECT * FROM Reviews WHERE score BETWEEN 0 AND 5""",con)

In [19]:
filtered_data.shape

(568454, 10)

In [20]:
filtered_data.shape

(568454, 10)

In [21]:
display=pd.read_sql_query("""select * from Reviews where score!=3 AND UserId="AR5J8UI46CURR" ORDER BY ProductID""",con)

In [22]:
display

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,78445,B000HDL1RQ,AR5J8UI46CURR,Geetha Krishnan,2,2,5,1199577600,LOACKER QUADRATINI VANILLA WAFERS,DELICIOUS WAFERS. I FIND THAT EUROPEAN WAFERS ...
1,138317,B000HDOPYC,AR5J8UI46CURR,Geetha Krishnan,2,2,5,1199577600,LOACKER QUADRATINI VANILLA WAFERS,DELICIOUS WAFERS. I FIND THAT EUROPEAN WAFERS ...
2,138277,B000HDOPYM,AR5J8UI46CURR,Geetha Krishnan,2,2,5,1199577600,LOACKER QUADRATINI VANILLA WAFERS,DELICIOUS WAFERS. I FIND THAT EUROPEAN WAFERS ...
3,73791,B000HDOPZG,AR5J8UI46CURR,Geetha Krishnan,2,2,5,1199577600,LOACKER QUADRATINI VANILLA WAFERS,DELICIOUS WAFERS. I FIND THAT EUROPEAN WAFERS ...
4,155049,B000PAQ75C,AR5J8UI46CURR,Geetha Krishnan,2,2,5,1199577600,LOACKER QUADRATINI VANILLA WAFERS,DELICIOUS WAFERS. I FIND THAT EUROPEAN WAFERS ...

In [23]:
sorted_data=filtered_data.sort_values('ProductId',axis=0,ascending=True,inplace=False,kind='quicksort',na_position="last")

In [24]:
sorted_data.shape

(568454, 10)

In [25]:
sorted_data

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
150528,150529,0006641040,A25ACLV5KPB4W,"Matt Hetling ""Matt""",0,1,4,1108425600,"Nice cadence, catchy rhymes",In June<br />I saw a charming group<br />of ro...
150506,150507,0006641040,A1S4A3IQ2MU7V4,"sally sue ""sally sue""",1,1,4,1191456000,chicken soup with rice months,This is a fun way for children to learn their ...
150505,150506,0006641040,A2IW4PEEKO2R0U,Tracy,1,1,4,1194739200,"Love the book, miss the hard cover version","I grew up reading these Sendak books, and watc..."
150504,150505,0006641040,A2PTSM496CF40Z,"Jason A. Teeple ""Nobody made a greater mistak...",1,1,4,1210809600,A classic,Get the movie or sound track and sing along wi...
150503,150504,0006641040,AQEYF1AXARWJZ,"Les Sinclair ""book maven""",1,1,4,1212278400,Chicken Soup with Rice,A very entertaining rhyming story--cleaver and...
...,...,...,...,...,...,...,...,...,...,...
191720,191721,B009UOFTUI,AJVB004EB0MVK,D. Christofferson,0,0,1,1345852800,weak coffee not good for a premium product and...,"This coffee supposedly is premium, it tastes w..."
1477,1478,B009UOFU20,AJVB004EB0MVK,D. Christofferson,0,0,1,1345852800,weak coffee not good for a premium product and...,"This coffee supposedly is premium, it tastes w..."
328481,328482,B009UUS05I,ARL20DSHGVM1Y,Jamie,0,0,5,1331856000,Perfect,The basket was the perfect sympathy gift when ...
5702,5703,B009WSNWC4,AMP7K1O84DH1T,ESTY,0,0,5,1351209600,DELICIOUS,Purchased this product at a local store in NY ...
327600,327601,B009WVB40S,A3ME78KVX31T21,K'la,0,0,5,1351123200,Tasty!,I purchased this to send to my son who's away ...

In [26]:
final=sorted_data.drop_duplicates(subset={"UserId","ProfileName","Time","Text"},keep='first',inplace=False)

In [27]:
final.shape

(393933, 10)

In [28]:
(final['Id'].size*1.0)/(filtered_data['Id'].size*1.0)*100

69.29901100176971

In [35]:
display=pd.read_sql_query("select * from Reviews where score !=3 and Id=44737 OR Id=4422",con)

In [36]:
SELECT *
FROM Reviews
WHERE Score
IN (

  SELECT Score
  FROM Reviews
  GROUP BY Score
  HAVING COUNT( Score ) >1
)

SyntaxError: invalid syntax (<ipython-input-36-c84d8c2ea021>, line 1)

In [37]:
#select people  who gives  max times review
max1=pd.read_sql_query("""select ProfileName,count(Score) from Reviews group by ProfileName having count(score)>1""",con)

In [38]:
max1

                                            ProfileName  count(Score)
0                                                                 2
1                                                               2
2                                         :Jury Duty:             4
3                     ! MR. KNOW IT ALL  ;-b "DR SHOCK"            10
4                                            "dmab6395"             3
...                                                 ...           ...
76191                                               ~~~             2
76192                                          ~~~Carol             4
76193                                 ¢¾ Leah ¢¾ "Leah"             3
76194                                    Étaín d'Orphée             6
76195  åmâz&#335;ni&#257;n "Being an Earthling, Livi...             8

[76196 rows x 2 columns]

In [39]:
max1=pd.read_sql_query("""select * from Reviews where ProfileName='dmab6395'  """,con)

In [40]:
max1

Empty DataFrame
Columns: [Id, ProductId, UserId, ProfileName, HelpfulnessNumerator, HelpfulnessDenominator, Score, Time, Summary, Text]
Index: []

In [41]:
print(final.shape)

(393933, 10)

In [42]:
final['Score'].value_counts()

5    250967
4     56087
1     36307
3     29772
2     20800
Name: Score, dtype: int64